.info {
  .info-content {
    margin-top: 80px;
    background-image: url(/images/info-bg.png);
    width: 100%;
    background-repeat: no-repeat;
    min-height: 600px;
    background-size: cover;
  }
}
