header {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  nav {
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-items {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 16px;
      .nav-item {
        button {
          font-size: 16px;
          font-weight: 500;
          background-color: transparent;
          border: 0;
          &:hover {
            color: #ef7c00;
            transition: 0.3s;
          }
        }
      }
      hr {
        height: 28px;
        color: #00103d1f;
      }
    }
    .nav-btns {
      display: flex;
      gap: 12px;
      align-items: center;
      .menu {
        border: 0;
        background: transparent;
        display: none;
        cursor: pointer;
        font-size: 40px;
      }
      .mode {
        background-color: transparent;
        color: #2c2d2e;
        border: 0;
        font-size: 16px;
        font-weight: 600;
        &:hover {
          color: #ef7c00;
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .nav-items {
    flex-direction: column;
    gap: 24px;
    position: fixed;
    top: 80px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 104px);
    background: #fff;
    padding: 60px 0;
    transition: all 0.3s ease-in-out;
    z-index: 10;
    hr {
      display: none;
    }
  }
  header nav .nav-btns .menu {
    display: block;
  }

  .open .nav-items {
    left: 0;
  }

  .open {
    box-shadow: none;
  }
}

@media only screen and (max-width: 600px) {
}
