@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none !important;
  font-family: Montserrat, sans-serif !important;
  scroll-behavior: smooth;
}

label {
  cursor: pointer !important;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

button {
  cursor: pointer !important;
}

.dark {
  background: rgb(3, 3, 67) !important;
  header {
    background-color: rgb(3, 3, 67);
    transition: 1s ease-in-out;
  }
  transition: 1s ease-in-out;
}

.dark * {
  transition: 1s ease-in-out;
  color: #ef7c00 !important;
  button {
    color: #fff !important;
  }
}
